In [69]:
%matplotlib inline
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LogisticRegression

In [72]:
from "./../../fastai/courses/ml1/fastai/text" import tokenize

SyntaxError: invalid syntax (<ipython-input-72-c4cb1a011386>, line 1)

In [37]:
df = pd.read_csv("./data/reddit/cm/askanincel_comments.csv")

In [9]:
df.head()

,ID,Comment,Author,Score,Parent id,Publish Date
0,ear6abi,Larpers/satire/parody.,Board_Gaming,1,t3_a1naq2,2018-11-29 22:42:02
1,ear6km8,You should realise that at least a third of th...,Ludovico_Pareto,1,t1_ear6abi,2018-11-29 22:46:24
2,ear6n8t,Why would you ask this question to incels?,Appropriate_Box,1,t3_a1ncm8,2018-11-29 22:47:30
3,ear6n9i,Men have a broader range of attraction. \n\nA ...,Ludovico_Pareto,1,t3_a1ncm8,2018-11-29 22:47:30
4,ear6obp,Would never date one. And they would never dat...,KosmicMalware,1,t3_a1naq2,2018-11-29 22:47:57

In [31]:
np.array(df.Score>4).sum()

3531

In [32]:
np.array(df.Score>1).sum() - 3531

5355

In [33]:
np.array(df.Score==1).sum()

29988

In [34]:
np.array(df.Score<1).sum()

2253

In [35]:
df.head()

,ID,Comment,Author,Score,Parent id,Publish Date
0,ear6abi,Larpers/satire/parody.,Board_Gaming,1,t3_a1naq2,2018-11-29 22:42:02
1,ear6km8,You should realise that at least a third of th...,Ludovico_Pareto,1,t1_ear6abi,2018-11-29 22:46:24
2,ear6n8t,Why would you ask this question to incels?,Appropriate_Box,1,t3_a1ncm8,2018-11-29 22:47:30
3,ear6n9i,Men have a broader range of attraction. \n\nA ...,Ludovico_Pareto,1,t3_a1ncm8,2018-11-29 22:47:30
4,ear6obp,Would never date one. And they would never dat...,KosmicMalware,1,t3_a1naq2,2018-11-29 22:47:57

In [40]:
df['Voted'] = np.array(df.Score>1)*1

In [46]:
df.Voted.sum()

8886

In [47]:
df.shape

(41127, 7)

In [55]:
x_trn = df.Comment[:31127].values
y_trn = df.Voted[:31127].values

In [56]:
x_val = df.Comment[31127:].values
y_val = df.Voted[31127:].values

In [68]:
veczr = CountVectorizer(tokenizer=tokenize)

NameError: name 'tokenize' is not defined